.card {
    background-color: #e0acac;
    border-radius: 20px;
}
.card-header {
    height: 0.9375rem;
}
.card-about {
    background-color: #c5ceda;
}
.welcome {
    width: 50px;
    height: 50px;
    background-color: #dfbbba;
}