

.about-left {
  width: 40%;
  max-width: 25rem;
}

.card-about p {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}
.description {
  width: 338px;
}

.pics img {
  width: 250px;
  border-radius: 20%;
  border: 2px solid #e0acac;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.pics img:hover {
  transform: scale(1.5);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.about-right {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.welcome {
  width: 14rem;
  background-color: #e1bbba;
  padding: 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.welcome p {
  color: #c1888f;
  font-size: 2rem;
  margin: 0;
}

.welcome-top {
  height: 0.9375rem;
  background-color: #e1aeab;
  border-radius: 0.75rem 0.75rem 0 0;
}

.welcome-bottom {
  height: 0.9375rem;
  background-color: #d7d3d2;
  border-radius: 0 0 0.75rem 0.75rem;
}
.info-container {
  background-color: #f5e0e0;
  padding: 2rem 0;
}
.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.info-container img {
  width: 50px;
  height: auto;
  margin: 0.3125rem;
}

.experience,
.education,
.languages,
.tech-skills,
.soft-skills,
.certifications {
  margin-bottom: 1rem;
}

.button {
  display: inline-block;
  width: 182px;
  height: 41px;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.button-pink {
  background-color: #fcb0b0;
  color: #fff;
  box-shadow: -4px 6px 11px -2px black;
}

.button-white {
  background-color: #f2f2f2;
  color: #d76c6c;
  box-shadow: -4px 6px 11px -2px black;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

.button:active {
  transform: translateY(0);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1024px) {
  .card-about {
    flex-direction: column;
    text-align: center;
  }

  .about-left,
  .about-right {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .pics img {
    margin: 1rem auto;
  }
}

@media (max-width: 768px) {
  .card-about {
    padding: 1rem;
  }

  .card-about p {
    font-size: 0.75rem;
  }
  .card-title {
    flex-direction: column;
  }
  .about-right {
    order: 1;
  }
  .about-left {
    order: 2;
  }

  .welcome p {
    font-size: 1.5rem;
  }
  .info-container {
    flex-direction: column;
    text-align: center;
  }

  .info-container .info div {
    margin: 0.5rem 0;
  }
}

@media (max-width: 480px) {
  .card-about {
    padding: 0.5rem;
  }

  .about-left,
  .about-right {
    width: 100%;
    text-align: center;
  }

  .pics img {
    max-width: 10rem;
  }

  .card-about p {
    font-size: 0.7rem;
  }

  .welcome {
    width: 100%;
  }

  .welcome p {
    font-size: 1.25rem;
  }

  .welcome-top,
  .welcome-bottom {
    height: 0.75rem;
  }
}

.info-container {
  justify-content: space-evenly;
  padding: 1.5rem;
}

.info-container .info div {
  margin: 0.5rem;
}
