.info-container {
    margin-top: 1rem;
}
.education-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c5ceda;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.info-software-education,
.info-acting-education,
.philology-education {
    background-color: #f5e0e0;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    transition: background-color 0.3s ease;
}
