header {
    background-color: #e0acac;
    border-radius: 1.5rem 1.5rem 0 0;
    color: #160318;
    padding: 0.5rem;
}

nav {
    display: flex;
    justify-content: end;
}

nav a {
    margin: 0 .625rem;
}