#root {
  /* max-width: 1280px; */
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #70304a;
}
h2 {
  font-size: 1.875rem;
  margin-bottom: 1rem;
  color: #70304a;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #8a4269;
}
.card-container {
  background-color: #e0acac;
  border-radius: 1.25rem;
  color: #160318;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.title-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #c5ceda;
  padding: 2rem;
}
.title-container img {
  cursor: pointer;
}
.bold {
  font-weight: bold;
}
